.titleComponent{
    border-radius: 10px;
    border : solid 5px #e7cc2f;
    padding: 5px;
    color: #000000;
    background-color: #15b610;
    font-weight: bold;
}

.nosotrosContainer{
    text-decoration: none;
    border: 5px solid #ee6002;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color:#528be7;
    min-height: 65vh;
    }

.teamListCard{
    margin: 20px;
    margin-left: 75px;
    margin-right: 75px;
    background-color: #528be7;
    color: #ffffff;
}
.listCards {
    width: 300px;
    text-decoration: none;
    border: 5px solid #ae00ff;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color:#15b610;
}  