.itemContainer{
    border: 3px solid #ae00ff;
    padding: 5px;
    margin: 20px;
    background-color: #ebf783;
    border-radius: 10px;
    color: #000000;
 };

 .itemTitle {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 5px;
    color: #000000;
    background-color: #ffa71b;
    font-weight: bolder;
 };

 .itemCard{
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
 }