.footerClass {
    text-align: center;
}

.addressClass {
    color: #ffffff;
    font-size: .75em;
    text-align: center;
    letter-spacing: .05em;
}

.addressClassCursada {
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    letter-spacing: .05em;
    padding-bottom: 1em;
}
