.footerClass {
        text-align: center;
}

.addressClass {
    padding-top: 20px;
    color: #ffffff;
    font-size: .7em;
    text-align: center;
    letter-spacing: .05em;
}

.addressClassCursada {
    color: #ffffff;
    font-size: .85em;
    text-align: center;
    letter-spacing: .05em;
    padding-bottom: 1em;
}
