.itemListTitle{
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 10px;
    padding: 5px;
    background-color:#7ff0ff;
    color: #000000;
    font-weight: bolder;
};
.itemList{
    border: 3px solid #008cff;
    padding: 5px;
    background-color: #8cdf7c;
    border-radius: 20px;
    color: #000000;
    margin: 10px;
    min-height: 70vh;
};


